.App {
  text-align: center;
}

.icons a{
  color: white;
  margin: 2px;
}

body{
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 300px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.information{
  display: inline-flex;
}

p.textInformation{
  margin-left: 8px;
}

.foot{
  margin-bottom: 20px;
}

.perfil{
  margin: 10px;
}

.presentation{
  margin: 10px;
  padding: 5px;
}

.cardsContainer{
  display: grid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.card{
    margin: auto;
    width: 70%;
    padding: 10px;
  
}

.TimeOpposite{
  max-width: 80px;
}

.Menu{
  position: fixed;
  margin-left: 120px;
}

@media (max-width: 850px) {
  .App-header {
    display: grid;
    width: 100%;
  }
  .perfil{
    margin: auto;
  }
  img.perfil{
    width: 10px;
  }
  .Menu{
    position: fixed;
    margin-left: 20px;
  }
}

